.cardContent {
  border-width: 10px;
  border: 15px solid #ffbb00;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  font-family: 'Segoe';
}

.cardTitle {
  color: black;
  text-decoration-line:none;
  text-align: left;
  margin-left: 20px;
  font-size: 18pt;
  margin-top: 4px;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
}

.cardImgContainer {
  margin: auto;
  border: 5px solid #ffbb00;
  max-width: 15rem;
}

.cardImg {
  max-height: 12rem;
}

.water {
  background-color: #a4daf5;
}

.earth {
  background-color: #b7f5b5;
}

.fire {
  background-color: #ed7777;
}

.air {
  background-color: #f2d296;
}

.none {
  background-color: #BEBEBE;
}

.waterImg {
  background-color: #75afcb;
}

.earthImg {
  background-color: #55a253;
}

.fireImg {
  background-color: #cc1d1d;
}

.airImg {
  background-color: #fea90d;
}

.noneImg {
  background-color: #787878;
}
