
.cardLink {
    text-align: center;
    margin: auto;
    margin-left: 10px;
  }
  .cardContent {
    border: 15px solid #ffbb00;
    border-radius: 10px;
    text-align: center;
    max-width: 20rem;
    height: 30rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cardTitle {
    color: black;
    text-decoration-line: none;
    text-align: left;
    margin-left: 15px;
    font-size: 18pt;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  a {
    text-decoration: none;
  }
  
  .cardImgContainer {
    margin: auto;
    border: 5px solid #ffbb00;
    max-width: 16rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cardImg {
    margin-top: 5px;
    max-height: 12rem;
  }